
.title{
  text-align: center;
}
.center {
  margin: auto;
  text-align: center;
  align-content: center;
  width: 50%;
  padding: 10px;
}

.frame-text {
  border-bottom-style: solid;
  border-color: darkgray;
  border-bottom-width: 1px;
}

.custom-card {
  width: 30rem; 
  margin-top: 5px; 
  margin-bottom:5px; 
  p {
    text-align: justify;
    font-size: small;
  }
}

.container-card {
  width: 80%; 
  margin-top: 10px;
}

.card-custom {
  width:10%; 
  min-height: 260px;
}

.ng-btn{
  width: 20%;
}
img {
  width: 200px;
}

ul {
  min-height: 125px;
}

.fs-13 {
  font-size: 13px;
}

