
.title{
  text-align: center;
}
.center {
  margin: auto;
  text-align: center;
  align-content: center;
  width: 50%;
  padding: 10px;
}

.frame-text {
  border-bottom-style: solid;
  border-color: darkgray;
  border-bottom-width: 1px;
}

.ng-btn{
  width: 20%;
}
img {
  width: 200px;
}

ul {
  min-height: 125px;
}

.fs-13 {
  font-size: 13px;
}

